[Unit]
Description=Meshtastic QXT-BBS
After=multi-user.target

[Service]
Type=simple
Restart=always
RestartSec=20
User=pi
WorkingDirectory=/home/pi/Meshtastic-QXT-BBS
ExecStart=/home/pi/Meshtastic-QXT-BBS/venv/bin/python3 /home/pi/Meshtastic-QXT-BBS/server.py

[Install]
WantedBy=multi-user.target
